<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.mapper.Nw120mMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.domain.Nw120m"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" /> 
		<result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" /> 
		<result column="LAST_APPR_LEV" jdbcType="INTEGER" property="lastApprLev" /> 
		<result column="APPR_EMP_NO_1" jdbcType="VARCHAR" property="apprEmpNo1" /> 
		<result column="APPR_EMP_NO_2" jdbcType="VARCHAR" property="apprEmpNo2" /> 
		<result column="APPR_EMP_NO_3" jdbcType="VARCHAR" property="apprEmpNo3" /> 
		<result column="APPR_EMP_NO_4" jdbcType="VARCHAR" property="apprEmpNo4" /> 
		<result column="APPR_EMP_NO_5" jdbcType="VARCHAR" property="apprEmpNo5" /> 
		<result column="APPR_EMP_NO_6" jdbcType="VARCHAR" property="apprEmpNo6" /> 
		<result column="APPR_EMP_NO_7" jdbcType="VARCHAR" property="apprEmpNo7" /> 
		<result column="APPR_EMP_NO_8" jdbcType="VARCHAR" property="apprEmpNo8" /> 
		<result column="APPR_EMP_NO_9" jdbcType="VARCHAR" property="apprEmpNo9" /> 
		<result column="APPR_EMP_NO_10" jdbcType="VARCHAR" property="apprEmpNo10" /> 
		<result column="APPR_EMP_NO_11" jdbcType="VARCHAR" property="apprEmpNo11" /> 
		<result column="APPR_EMP_NO_12" jdbcType="VARCHAR" property="apprEmpNo12" /> 
	</resultMap>
	
	<resultMap id="BaseResultMap2" type="org.uniworks.groupware.domain.Nw120mExt"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" /> 
		<result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" /> 
		<result column="LAST_APPR_LEV" jdbcType="INTEGER" property="lastApprLev" /> 
		<result column="APPR_EMP_NO_1" jdbcType="VARCHAR" property="apprEmpNo1" /> 
		<result column="APPR_EMP_NO_2" jdbcType="VARCHAR" property="apprEmpNo2" /> 
		<result column="APPR_EMP_NO_3" jdbcType="VARCHAR" property="apprEmpNo3" /> 
		<result column="APPR_EMP_NO_4" jdbcType="VARCHAR" property="apprEmpNo4" /> 
		<result column="APPR_EMP_NO_5" jdbcType="VARCHAR" property="apprEmpNo5" /> 
		<result column="APPR_EMP_NO_6" jdbcType="VARCHAR" property="apprEmpNo6" /> 
		<result column="APPR_EMP_NO_7" jdbcType="VARCHAR" property="apprEmpNo7" /> 
		<result column="APPR_EMP_NO_8" jdbcType="VARCHAR" property="apprEmpNo8" /> 
		<result column="APPR_EMP_NO_9" jdbcType="VARCHAR" property="apprEmpNo9" /> 
		<result column="APPR_EMP_NO_10" jdbcType="VARCHAR" property="apprEmpNo10" /> 
		<result column="APPR_EMP_NO_11" jdbcType="VARCHAR" property="apprEmpNo11" /> 
		<result column="APPR_EMP_NO_12" jdbcType="VARCHAR" property="apprEmpNo12" /> 
		<result column="APPR_EMP_NAME_1" jdbcType="VARCHAR" property="apprEmpName1" /> 
		<result column="APPR_EMP_NAME_2" jdbcType="VARCHAR" property="apprEmpName2" /> 
		<result column="APPR_EMP_NAME_3" jdbcType="VARCHAR" property="apprEmpName3" /> 
		<result column="APPR_EMP_NAME_4" jdbcType="VARCHAR" property="apprEmpName4" /> 
		<result column="APPR_EMP_NAME_5" jdbcType="VARCHAR" property="apprEmpName5" /> 
		<result column="APPR_EMP_NAME_6" jdbcType="VARCHAR" property="apprEmpName6" /> 
		<result column="APPR_EMP_NAME_7" jdbcType="VARCHAR" property="apprEmpName7" /> 
		<result column="APPR_EMP_NAME_8" jdbcType="VARCHAR" property="apprEmpName8" /> 
		<result column="APPR_EMP_NAME_9" jdbcType="VARCHAR" property="apprEmpName9" /> 
		<result column="APPR_EMP_NAME_10" jdbcType="VARCHAR" property="apprEmpName10" /> 
		<result column="APPR_EMP_NAME_11" jdbcType="VARCHAR" property="apprEmpName11" /> 
		<result column="APPR_EMP_NAME_12" jdbcType="VARCHAR" property="apprEmpName12" />
	</resultMap>  
	<!-- Count -->
	<resultMap type="java.lang.Integer" id="count_Result">
		<result column="MAX_SEQ_NO" jdbcType="DECIMAL"/>
	</resultMap>
	
	<!-- 최대 일련번호 가져오기 -->
	<select id="selectMaxSeqNo" parameterType="java.util.Map" resultMap="count_Result">
		select  ifnull(MAX(SEQ_NO), 0) as MAX_SEQ_NO
		  from  nw120m
		 where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		   and  USER_ID	=	#{userId,jdbcType=VARCHAR}
	</select>
	
	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, USER_ID, SEQ_NO, LAST_APPR_LEV, APPR_EMP_NO_1, APPR_EMP_NO_2, APPR_EMP_NO_3, APPR_EMP_NO_4, APPR_EMP_NO_5, 
				APPR_EMP_NO_6, APPR_EMP_NO_7, APPR_EMP_NO_8, APPR_EMP_NO_9, APPR_EMP_NO_10, APPR_EMP_NO_11, APPR_EMP_NO_12
		from   nw120m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  USER_ID	=	#{userId,jdbcType=VARCHAR}
		order by CO_ID, USER_ID, SEQ_NO desc
	</select> 
 
 	<!-- 목록 조회 -->
 	<select id="selectExt" parameterType="java.util.Map" resultMap="BaseResultMap2">
 		select  CO_ID, USER_ID, SEQ_NO, LAST_APPR_LEV, APPR_EMP_NO_1, APPR_EMP_NO_2, APPR_EMP_NO_3, APPR_EMP_NO_4, APPR_EMP_NO_5, 
				APPR_EMP_NO_6, APPR_EMP_NO_7, APPR_EMP_NO_8, APPR_EMP_NO_9, APPR_EMP_NO_10, APPR_EMP_NO_11, APPR_EMP_NO_12,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_1, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_1,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_2, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_2,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_3, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_3,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_4, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_4,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_5, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_5,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_6, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_6,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_7, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_7,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_8, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_8,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_9, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_9,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_10, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_10,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_11, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_11,
		        FN_GetUserName(#{coId,jdbcType=VARCHAR}, APPR_EMP_NO_12, #{lang,jdbcType=VARCHAR}) as APPR_EMP_NAME_12
		from   nw120m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  USER_ID	=	#{userId,jdbcType=VARCHAR}
		order by CO_ID, USER_ID, SEQ_NO desc
 	</select>
 	
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, USER_ID, SEQ_NO, LAST_APPR_LEV, APPR_EMP_NO_1, APPR_EMP_NO_2, APPR_EMP_NO_3, APPR_EMP_NO_4, APPR_EMP_NO_5, 
				APPR_EMP_NO_6, APPR_EMP_NO_7, APPR_EMP_NO_8, APPR_EMP_NO_9, APPR_EMP_NO_10, APPR_EMP_NO_11, APPR_EMP_NO_12
		from   nw120m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 		   
		  and  USER_ID	=	#{userId,jdbcType=VARCHAR}
		  and  SEQ_NO	=	#{seqNo,jdbcType=INTEGER} 
	</select> 
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.domain.Nw120m"> 
		insert	into nw120m(CO_ID, USER_ID, SEQ_NO, LAST_APPR_LEV, APPR_EMP_NO_1, APPR_EMP_NO_2, APPR_EMP_NO_3, APPR_EMP_NO_4, APPR_EMP_NO_5, 
				APPR_EMP_NO_6, APPR_EMP_NO_7, APPR_EMP_NO_8, APPR_EMP_NO_9, APPR_EMP_NO_10, APPR_EMP_NO_11, APPR_EMP_NO_12) 
		values (#{coId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{seqNo,jdbcType=INTEGER},#{lastApprLev,jdbcType=INTEGER},#{apprEmpNo1,jdbcType=VARCHAR},#{apprEmpNo2,jdbcType=VARCHAR},#{apprEmpNo3,jdbcType=VARCHAR} 
			,#{apprEmpNo4,jdbcType=VARCHAR},#{apprEmpNo5,jdbcType=VARCHAR},#{apprEmpNo6,jdbcType=VARCHAR},#{apprEmpNo7,jdbcType=VARCHAR},#{apprEmpNo8,jdbcType=VARCHAR},#{apprEmpNo9,jdbcType=VARCHAR} 
			,#{apprEmpNo10,jdbcType=VARCHAR},#{apprEmpNo11,jdbcType=VARCHAR},#{apprEmpNo12,jdbcType=VARCHAR}) 
	</insert> 
	
	<insert id="insertMap" parameterType="java.util.Map"> 
		insert	into nw120m(CO_ID, USER_ID, SEQ_NO, LAST_APPR_LEV, APPR_EMP_NO_1, APPR_EMP_NO_2, APPR_EMP_NO_3, APPR_EMP_NO_4, APPR_EMP_NO_5, 
				APPR_EMP_NO_6, APPR_EMP_NO_7, APPR_EMP_NO_8, APPR_EMP_NO_9, APPR_EMP_NO_10, APPR_EMP_NO_11, APPR_EMP_NO_12) 
		values (#{coId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{seqNo,jdbcType=INTEGER},#{lastApprLev,jdbcType=INTEGER},#{apprEmpNo1,jdbcType=VARCHAR},#{apprEmpNo2,jdbcType=VARCHAR},#{apprEmpNo3,jdbcType=VARCHAR} 
			,#{apprEmpNo4,jdbcType=VARCHAR},#{apprEmpNo5,jdbcType=VARCHAR},#{apprEmpNo6,jdbcType=VARCHAR},#{apprEmpNo7,jdbcType=VARCHAR},#{apprEmpNo8,jdbcType=VARCHAR},#{apprEmpNo9,jdbcType=VARCHAR} 
			,#{apprEmpNo10,jdbcType=VARCHAR},#{apprEmpNo11,jdbcType=VARCHAR},#{apprEmpNo12,jdbcType=VARCHAR}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.domain.Nw120m"> 
		update	nw120m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="lastApprLev != null">LAST_APPR_LEV= #{lastApprLev,jdbcType=INTEGER},</if> 
			<if test="apprEmpNo1 != null">APPR_EMP_NO_1= #{apprEmpNo1,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo2 != null">APPR_EMP_NO_2= #{apprEmpNo2,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo3 != null">APPR_EMP_NO_3= #{apprEmpNo3,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo4 != null">APPR_EMP_NO_4= #{apprEmpNo4,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo5 != null">APPR_EMP_NO_5= #{apprEmpNo5,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo6 != null">APPR_EMP_NO_6= #{apprEmpNo6,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo7 != null">APPR_EMP_NO_7= #{apprEmpNo7,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo8 != null">APPR_EMP_NO_8= #{apprEmpNo8,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo9 != null">APPR_EMP_NO_9= #{apprEmpNo9,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo10 != null">APPR_EMP_NO_10= #{apprEmpNo10,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo11 != null">APPR_EMP_NO_11= #{apprEmpNo11,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo12 != null">APPR_EMP_NO_12= #{apprEmpNo12,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	USER_ID	=	#{userId,jdbcType=VARCHAR} 
		  and	SEQ_NO	=	#{seqNo,jdbcType=INTEGER} 
	</update>
	
	<update id="updateByPrimaryKeyMap" parameterType="java.util.Map"> 
		update	nw120m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="lastApprLev != null">LAST_APPR_LEV= #{lastApprLev,jdbcType=INTEGER},</if> 
			<if test="apprEmpNo1 != null">APPR_EMP_NO_1= #{apprEmpNo1,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo2 != null">APPR_EMP_NO_2= #{apprEmpNo2,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo3 != null">APPR_EMP_NO_3= #{apprEmpNo3,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo4 != null">APPR_EMP_NO_4= #{apprEmpNo4,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo5 != null">APPR_EMP_NO_5= #{apprEmpNo5,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo6 != null">APPR_EMP_NO_6= #{apprEmpNo6,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo7 != null">APPR_EMP_NO_7= #{apprEmpNo7,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo8 != null">APPR_EMP_NO_8= #{apprEmpNo8,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo9 != null">APPR_EMP_NO_9= #{apprEmpNo9,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo10 != null">APPR_EMP_NO_10= #{apprEmpNo10,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo11 != null">APPR_EMP_NO_11= #{apprEmpNo11,jdbcType=VARCHAR},</if> 
			<if test="apprEmpNo12 != null">APPR_EMP_NO_12= #{apprEmpNo12,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	USER_ID	=	#{userId,jdbcType=VARCHAR} 
		  and	SEQ_NO	=	#{seqNo,jdbcType=INTEGER} 
	</update>  
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from nw120m 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	USER_ID	=	#{userId,jdbcType=VARCHAR}
		  and	SEQ_NO	=	#{seqNo,jdbcType=INTEGER} 		   
	</delete> 
</mapper>