<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.mapper.UserInfoMapper">
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.domain.UserInfo">
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="USER_ID" jdbcType="VARCHAR" property="username" /> 
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" /> 
		<result column="ROLE" jdbcType="VARCHAR" property="role" /> 
	</resultMap>

	<resultMap id="UserResultMap" type="org.uniworks.groupware.domain.User"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="EMP_NAME" jdbcType="VARCHAR" property="empName" /> 
		<result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
		<result column="DEPT_DESC" jdbcType="VARCHAR" property="deptDesc" />
		<result column="DUTY_CODE" jdbcType="VARCHAR" property="dutyCode" /> 
		<result column="DUTY_DESC" jdbcType="VARCHAR" property="dutyDesc" /> 
		<result column="PSTN_CODE" jdbcType="VARCHAR" property="pstnCode" /> 
		<result column="PSTN_DESC" jdbcType="VARCHAR" property="pstnDesc" />  
		<result column="PSWD" jdbcType="VARCHAR" property="pswd" /> 
		<result column="PSWD_CHNG_DATE" jdbcType="TIMESTAMP" property="pswdChngDate" /> 
		<result column="PSWD_INIT_INDC" jdbcType="VARCHAR" property="pswdInitIndc" /> 
		<result column="INTERNAL_MAIL_ADDR" jdbcType="VARCHAR" property="internalMailAddr" /> 
		<result column="OUTSIDE_MAIL_ADDR" jdbcType="VARCHAR" property="outsideMailAddr" /> 
		<result column="CNFM_PSWD" jdbcType="VARCHAR" property="cnfmPswd" /> 
		<result column="CNFM_PSWD_CHNG_DATE" jdbcType="TIMESTAMP" property="cnfmPswdChngDate" /> 
		<result column="USER_RGSR_DATE" jdbcType="TIMESTAMP" property="userRgsrDate" /> 
		<result column="USE_INDC" jdbcType="CHAR" property="useIndc" /> 
	</resultMap>
	
	<resultMap id="UserRoleResultMap" type="org.uniworks.groupware.domain.UserRole"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="EMP_NAME" jdbcType="VARCHAR" property="empName" /> 
		<result column="ROLE" jdbcType="VARCHAR" property="role" />		
		<result column="USE_INDC" jdbcType="CHAR" property="useIndc" />
		<result column="DUTY_CODE" jdbcType="VARCHAR" property="dutyCode" /> 
		<result column="DUTY_DESC" jdbcType="VARCHAR" property="dutyDesc" /> 
		<result column="PSTN_CODE" jdbcType="VARCHAR" property="pstnCode" /> 
		<result column="PSTN_DESC" jdbcType="VARCHAR" property="pstnDesc" />  		 		
		<result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
		<result column="DEPT_DESC" jdbcType="VARCHAR" property="deptDesc" /> 
	</resultMap>
			
 	<select id="getUserInfo" parameterType="java.lang.String" resultMap="BaseResultMap"> 
 		SELECT A.CO_ID, A.USER_ID as USER_ID, A.PSWD as PASSWORD, B.ROLE as ROLE
 		FROM   NW100M A 
 		INNER  JOIN	NW105M B
 		   ON  A.CO_ID		=	B.CO_ID
 		  AND  A.USER_ID	=	B.USER_ID
 		WHERE  A.USER_ID	=	#{userId,jdbcType=VARCHAR}
 		  AND  A.USE_INDC	=	'Y'
 		ORDER BY A.CO_ID, A.USER_ID, B.ROLE
 	</select>
 	
 	<!-- 사용자 검색 -->
 	<select id="getUserListBySearch" parameterType="java.util.Map" resultMap="UserRoleResultMap"> 	
 		select A.CO_ID, B.USER_ID, A.EMP_NAME_KOR as EMP_NAME, '' as ROLE, A.DUTY_CODE, gw.FN_GetCodeName(A.CO_ID, 'CD004', A.DUTY_CODE, #{lang,jdbcType=VARCHAR}) as DUTY_DESC,
		       A.PSTN_CODE, gw.FN_GetCodeName(B.CO_ID, 'CD006', A.PSTN_CODE, #{lang,jdbcType=VARCHAR}) as PSTN_DESC,
	<![CDATA[		        
		       IF(C.USE_INDC <> null && LENGTH(C.USE_INDC) > 0, C.USE_INDC, 'N') as USE_INDC,
	]]> 
		       CASE A.BASE_ASGN_OGAN_LEV WHEN '1' THEN A.ASGN_OGAN_CODE_1
			                             WHEN '2' THEN A.ASGN_OGAN_CODE_2
			                             WHEN '3' THEN A.ASGN_OGAN_CODE_3
			                             WHEN '4' THEN A.ASGN_OGAN_CODE_4
			                             WHEN '5' THEN A.ASGN_OGAN_CODE_5
			                             WHEN '6' THEN A.ASGN_OGAN_CODE_6
			                             WHEN '7' THEN A.ASGN_OGAN_CODE_7
			                             WHEN '8' THEN A.ASGN_OGAN_CODE_8
			                             WHEN '9' THEN A.ASGN_OGAN_CODE_9
			                             WHEN '10' THEN A.ASGN_OGAN_CODE_10
			                             WHEN '11' THEN A.ASGN_OGAN_CODE_11
			                             WHEN '12' THEN A.ASGN_OGAN_CODE_12 END DEPT_CODE,
				CASE A.BASE_ASGN_OGAN_LEV WHEN '1' THEN A.ASGN_OGAN_DESC_1
			                              WHEN '2' THEN A.ASGN_OGAN_DESC_2
			                              WHEN '3' THEN A.ASGN_OGAN_DESC_3
			                              WHEN '4' THEN A.ASGN_OGAN_DESC_4
			                              WHEN '5' THEN A.ASGN_OGAN_DESC_5
			                              WHEN '6' THEN A.ASGN_OGAN_DESC_6
			                              WHEN '7' THEN A.ASGN_OGAN_DESC_7
			                              WHEN '8' THEN A.ASGN_OGAN_DESC_8
			                              WHEN '9' THEN A.ASGN_OGAN_DESC_9
			                              WHEN '10' THEN A.ASGN_OGAN_DESC_10
			                              WHEN '11' THEN A.ASGN_OGAN_DESC_11
			                              WHEN '12' THEN A.ASGN_OGAN_DESC_12 END DEPT_DESC
		from  gw.hr010m  as A 
			LEFT OUTER JOIN gw.nw100m as B
		    ON  B.CO_ID = A.CO_ID
		    AND A.EMP_NO = B.USER_ID
		    LEFT OUTER JOIN gw.nw105m as C
		    ON  C.CO_ID = A.CO_ID
		    AND C.USER_ID = A.EMP_NO
		where  A.CO_ID = #{coId,jdbcType=VARCHAR}
		<if test="searchKind == 'EMPNO'">
			AND A.EMP_NO LIKE concat('%', #{searchWord,jdbcType=VARCHAR}, '%')
		</if>
		<if test="searchKind == 'NAME'">
			AND A.EMP_NAME_KOR LIKE concat('%', #{searchWord,jdbcType=VARCHAR}, '%')
		</if>
		order by A.CO_ID, A.EMP_NAME_KOR	
 	</select>
</mapper>